<h3 class="govuk-heading-m">{{appealListIndex}}Personal circumstances</h3>

{% if showChangeLinks === true %}
  {% set personalReasonChange = {
    href: "/personal/personal-information?id=" + loop.index0,
    text: "Change",
    visuallyHiddenText: "personal reason"
 } %}
  {% set reasonInfoChange = {
    href: "/personal/personal-information?id=" + loop.index0,
    text: "Change",
    visuallyHiddenText: "further information"
 } %}
{% endif %}

{{ govukSummaryList({
rows: [
{
  key: {
    text: "Personal reason"
  },
  value: {
    html: reason.personalReason | capitalize
  },
  actions: {
    items: [personalReasonChange]
  }
},
{
  key: {
    text: "Further information"
  },
  value: {
    text: reason.personalInformation | safe | nl2br
  },
  actions: {
    items: [reasonInfoChange]
  }
},
documents
]
}) }}