{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Appeal due to personal reasons: When did the person die?
{% endblock %}
{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "/personal/personal-reason"
}) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        {% if errorList.length > 0 %}
          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
            }) }}
        {% endif %}

        {% if errorList.length > 0 %}
          {% set startDateError = {
            text: startDateErr.text
          } %}
        {% else %}
          {% set startDateError = false %}
        {% endif %}

        {{ govukDateInput({
            id: "date-of-death",
            namePrefix: "dateOfDeath",
            value: info,
            errorMessage: dateOfDeathError,
            fieldset: {
              legend: {
                text: "When did the person die?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              text: "For example, 31 8 2018"
            },
            items: [
              {
                classes: inputClasses.day,
                name: 'day',
                value: dateOfDeathDay
              },
              {
                classes: inputClasses.month,
                name: 'month',
                value: dateOfDeathMonth
              },
              {
                classes: inputClasses.year,
                name: 'year',
                value: dateOfDeathYear
              }
            ]
          })
        }}

        {{ govukInput({
          id: "editId",
          name: "editId",
          type: "hidden",
          value: id
        }) }}

        {{ govukButton({
           text: "Continue"
          }) }}
        <p>
          <a href="/sign-out" class="govuk-link">Save and sign out</a>
        </p>
      </form>
    </div>
  </div>

{% endblock %}