{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Appeal due to ill health: Is the person still ill?
{% endblock %}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "illness/illness-start-date"
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorList.length > 0 %}
        {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
            }) }}
      {% endif %}
      <form action="" method="post">
        {% if errorList.length > 0 %}
          {% set continuedIllnessError = {
            text: continuedIllnessErr.text
          } %}
        {% else %}
          {% set continuedIllnessError = false %}
        {% endif %}

        {% set hintHTML %}
        You told us the illness started on
        {{ reason.illnessStartDate.day }}
        {{ reason.illnessStartDate.month | displayMonth }}
        {{ reason.illnessStartDate.year }}
        {% endset -%}

        {{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "continued-illness",
              name: "continuedIllness",
              errorMessage: continuedIllnessError,
              fieldset: {
                legend: {
                  text: 'Is the person still ill?',
                  isPageHeading: true,
                  classes: 'govuk-fieldset__legend--xl'
                }
              },
              hint: {
                html: hintHTML
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}

        {{ govukInput({
                id: "editId",
                name: "editId",
                type: "hidden",
                value: id
              }) }}

        {{ govukButton({
              text: "Continue"
            }) }}


      </form>
    </div>
  </div>

{% endblock %}
