{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Appeal due to ill health: family member
{% endblock %}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "illness/family-member"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        {% if errorList.length > 0 %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
        {% endif %}

        {% if err.flag %}
          {% set Error = {
            text: err.text
          } %}
        {% else %}
          {% set Error = false %}
        {% endif %}

        {{ govukInput({
          id: "family-relationship",
          name: "familyRelationship",
          errorMessage: Error,
          label: {
            text: "What was the relationship to the director?",
            classes: "govuk-label--xl",
            isPageHeading: true
          },
          value: familyRelationship
        }) }}

        {{ govukInput({
          id: "edit-id",
          name: "editId",
          type: "hidden",
          value: id
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}