{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Appeal due to ill health: ill family member
{% endblock %}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "illness/who-was-ill"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">

        {% if errorList.length > 0 %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
        {% endif %}

        {% if err.flag %}
          {% set Error = {
            text: err.text
          } %}
        {% else %}
          {% set Error = false %}
        {% endif %}

        {% set directorsArray = [] %}
        {% for director in scenario.company.directors %}
          {% set directorsArray = (directorsArray.push({value: director, html: director, checked: false}), directorsArray) %}
        {% endfor %}

        {{ govukCheckboxes({
              idPrefix: "ill-family",
                name: "illFamily",
                errorMessage: illDirectorError,
                fieldset: {
                  legend: {
                    text: 'Who was the family member related to?',
                    isPageHeading: true,
                    classes: 'govuk-fieldset__legend--xl'
                  }
                },
                hint: {
                  text: 'These were the active directors when your accounts were due'
                },
                items: directorsArray
              }) }}

        {{ govukInput({
          id: "edit-id",
          name: "editId",
          type: "hidden",
          value: id
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}