{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Appeal due to ill health: Which director was ill?
{% endblock %}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "illness/who-was-ill"
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">

        {% if errorList.length > 0 %}
          {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorList
              }) }}
        {% endif %}

        {% if errorList.length > 0 %}
          {% set illDirectorError = {
            text: illDirectorErr.text
          } %}
        {% else %}
          {% set illDirectorError = false %}
        {% endif %}

        {% if errorList.length > 0 %}
          {% if otherDirectorErr.type === 'invalid' %}
            {% set otherDirectorError = true %}
          {% else %}
            {% set otherDirectorError = false %}
          {% endif %}
        {% endif %}

        {% set otherDirectorInput %}
        {{ govukInput({
              id: "other-director",
              name: "otherDirector",
              checked: otherDirector,
              classes: "",
              errorMessage: otherDirectorError,
              label: {
                text: "Name of the director"
              }
            }) }}
        {% endset -%}

        {% set directorsArray = [] %}
        {% for director in scenario.company.directors %}
          {% set directorsArray = (directorsArray.push({value: director, html: director, checked: false}), directorsArray) %}
        {% endfor %}

        {{ govukRadios({
              idPrefix: "ill-director",
                name: "illDirector",
                errorMessage: illDirectorError,
                fieldset: {
                  legend: {
                    text: 'Who was ill?',
                    isPageHeading: true,
                    classes: 'govuk-fieldset__legend--xl'
                  }
                },
                hint: {
                  text: 'These were the active directors when your accounts were due'
                },
                items: directorsArray
              }) }}

        {{ govukInput({
                id: "editId",
                name: "editId",
                type: "hidden",
                value: id
              }) }}

        {{ govukButton({
              text: "Continue"
            }) }}

        <p>
          <a href="/sign-out" class="govuk-link">Save and sign out</a>
        </p>

      </form>
    </div>
  </div>

{% endblock %}