{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Appeal due to ill health: Tell us when the illness started
{% endblock %}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "illness/who-was-ill"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/illness/illness-start-date" method="post">
        {% if errorList.length > 0 %}
          {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorList
              }) }}
        {% endif %}

        {% if errorList.length > 0 %}
          {% set startDateError = {
            text: startDateErr.text
          } %}
        {% else %}
          {% set startDateError = false %}
        {% endif %}

        {{ govukDateInput({
            id: "illness-start",
            namePrefix: "illnessStart",
            value: info,
            errorMessage: startDateError,
            fieldset: {
              legend: {
                text: "When did the illness start?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              text: "For example, 31 8 2018"
            },
            items: [
              {
                classes: inputClasses.day,
                name: 'day',
                value: illnessStartDay
              },
              {
                classes: inputClasses.month,
                name: 'month',
                value: illnessStartMonth
              },
              {
                classes: inputClasses.year,
                name: 'year',
                value: illnessStartYear
              }
            ]
          })
          }}

        {{ govukInput({
            id: "editId",
            name: "editId",
            type: "hidden",
            value: id
          }) }}

        {{ govukButton({
             text: "Continue"
            }) }}
        
      </form>
    </div>
  </div>

{% endblock %}
