{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Appeal due to ill health: How did this affect your ability to file on time?
{% endblock %}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "illness/continued-illness"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorList.length > 0 %}
        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
      {% endif %}

      <h1 class="govuk-heading-xl">How did this affect your ability to file on time?</h1>
      <form action="" method="post">
        {% if errName.flag %}
          {% set errName = {
            text: errName.text
          } %}
        {% else %}
          {% set nameError = false %}
        {% endif %}

        {% if errRelationship.flag %}
          {% set relationshipError = {
            text: errRelationship.text
          } %}
        {% else %}
          {% set relationshipError = false %}
        {% endif %}

{% set hintHTML %}
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What details should I include to support my appeal?
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>You should include:</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>any relevant dates - for example, the dates that a problem began and ended</li>
    <li>names of people or organisations that prevented accounts from being filed on time, and their relationship to the company</li>
    </ul>
    <p>If the person who usually files the accounts was not able to, tell us why no one else could file them.</p>
    <p>If you were give advice by Companies House, include details of when and how you contacted us.</p>
  </div>
</details>
{% endset %}

        {% if nameErr.flag %}

        {{ govukInput({
          id: "user-name",
          name: "userName",
          errorMessage: errName,
          label: {
            text: "Your name"
          },
          value: userName
        }) }}
        {% else %}
        {{ govukInput({
          id: "user-name",
          name: "userName",
          errorMessage: errName,
          label: {
            text: "Your name"
          },
          value: userName
        }) }}
        {% endif %}
        {% if Err.flag %}
          {{ govukTextarea({
              name: "illnessInformation",
              id: "illness-information",
              rows: '8',
              label: {
                html: "Anything you tell us to support your application will be kept confidential.",
                isPageHeading: false,
                classes: 'govuk-heading-large'
              },
              errorMessage: {
                text: "You must tell us how this affected your ability to file on time"
              }
            }) }}
        {% else %}

          {{ govukTextarea({
              name: "illnessInformation",
              id: "illness-information",
              value: info,
              rows: '8',
              label: {
                text: "Anything you tell us to support your application will be kept confidential.",
                isPageHeading: false,
                classes: 'govuk-heading-large'
              },
              hint: {
                html: hintHTML
              }
            }) }}
        {% endif %}

        {{ govukInput({
          id: "editId",
          name: "editId",
          type: "hidden",
          value: id
        }) }}

        {{ govukButton({
              text: "Continue"
            }) }}

      </form>
    </div>
  </div>
</main>
</div>

{% endblock %}
