{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Appeal due to ill health: Tell us when the illness ended
{% endblock %}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "cillness/continued-illness"
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        {% if errorList.length > 0 %}
          {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorList
              }) }}
        {% endif %}

        {% if errorList.length > 0 %}
          {% set endDateError = {
            text: 'Please enter a real date'
          } %}
        {% else %}
          {% set endDateError = false %}
        {% endif %}

        {% set hintHTML %}
        You told us the illness started on
        {{ reason.illnessStartDate.day }}
        {{ reason.illnessStartDate.month | displayMonth }}
        {{ reason.illnessStartDate.year }}
        {% endset -%}

        {{ govukDateInput({
  id: "illness-end-date",
  namePrefix: "illnessEndDate",
  value: info,
  errorMessage: endDateError,
  fieldset: {
    legend: {
      text: "When did the illness end?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
      }
    },
      hint: {
            html: hintHTML
            },
            items: [
              { classes: inputClasses.day, name: 'day', value: illnessEndDay },
              { classes: inputClasses.month, name: 'month', value: illnessEndMonth },
              { classes: inputClasses.year, name: 'year', value: illnessEndYear }
              ]
            })
          }}

        {{ govukInput({
              id: "editId",
              name: "editId",
              type: "hidden",
              value: id
            }) }}

        {{ govukButton({
              text: "Continue"
            }) }}

        <p>
          <a href="/sign-out" class="govuk-link">Save and sign out</a>
        </p>

      </form>
    </div>
  </div>

{% endblock %}