{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Appeal due to ill health: Tell us about the illness
{% endblock %}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "illness/continued-illness"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorList.length > 0 %}
        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
      {% endif %}

      {% set multipleDirectorsHTML %}

      {% if reason.illDirector !== '' %}
        Include why the other directors were not able to file.
      {% endif %}
      {% endset %}

      <h1 class="govuk-heading-xl">How did this affect your ability to file on time?</h1>
      <form action="" method="post">
        {% if Err.flag %}
          {{ govukTextarea({
              name: "illnessInformation",
              id: "illness-information",
              rows: '8',
              label: {
                html: "Anything you tell us to support your application will be kept confidential.",
                isPageHeading: false,
                classes: 'govuk-heading-large'
              },
              errorMessage: {
                text: "Enter information"
              }
            }) }}
        {% else %}
          {{ govukTextarea({
              name: "illnessInformation",
              id: "illness-information",
              value: info,
              rows: '8',
              label: {
                text: "Anything you tell us to support your application will be kept confidential.",
                isPageHeading: false,
                classes: 'govuk-heading-large'
              },
              hint: {
                html: multipleDirectorsHTML
              }
            }) }}
        {% endif %}

        {{ govukInput({
          id: "editId",
          name: "editId",
          type: "hidden",
          value: id
        }) }}

        {{ govukButton({
              text: "Continue"
            }) }}
        <p>
          <a href="/sign-out" class="govuk-link">Save and sign out</a>
        </p>
      </form>
    </div>
  </div>
</main>
</div>

{% endblock %}