{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Appeal due to ill health: Who was ill?
{% endblock %}
{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "/choose-reason"
}) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">

        {% if errorList.length > 0 %}
          {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorList
              }) }}
        {% endif %}

        {% if errorList.length > 0 %}
          {% set illPersonError = {
            text: illPersonErr.text
          } %}
        {% else %}
          {% set illPersonError = false %}
        {% endif %}

        {% if errorList.length > 0 %}
          {% if otherPersonErr.type === 'invalid' %}
            {% set otherPersonError = true %}
          {% else %}
            {% set otherPersonError = false %}
          {% endif %}
        {% endif %}

        {% set someoneElseInput %}
        {{ govukInput({
              id: "other-person",
              name: "otherPerson",
              checked: otherPerson,
              classes: "",
              errorMessage: otherPersonError,
              label: {
                text: "Their relationship to the company"
              }
            }) }}
        {% endset -%}

        {{ govukRadios({
              idPrefix: "ill-person",
                name: "illPerson",
                errorMessage: illPersonError,
                fieldset: {
                  legend: {
                    text: 'Who was ill?',
                    isPageHeading: true,
                    classes: 'govuk-fieldset__legend--xl'
                  }
                },
                items: [
                  {
                    value: "director",
                    text: "A company director",
                    checked: checkedDirector
                  },
                  {
                    value: "accountant",
                    text: "A company accountant or agent",
                    checked: checkedAccountant
                  },
                  {
                    value: "family",
                    text: "A family member of a director",
                    checked: checkedFamily
                  },
                  {
                    value: "employee",
                    text: "A company employee",
                    checked: checkedEmployee
                  },
                  {
                    value: "Someone else",
                    text: "Someone else",
                    checked: otherPersonError,
                    conditional: {
                      html: someoneElseInput
                    }
                  }
                ]
              }) }}

        {{ govukInput({
                id: "editId",
                name: "editId",
                type: "hidden",
                value: id
              }) }}

        {{ govukButton({
              text: "Continue"
            }) }}

        <p>
          <a href="/sign-out" class="govuk-link">Save and sign out</a>
        </p>

      </form>
    </div>
  </div>

{% endblock %}