{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  You must tell us the reason for the appeal
{% endblock %}
{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "/confirm-company"
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row" ="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">

        {% if errorList.length > 0 %}
          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
            }) }}
        {% endif %}

        {% if errorList.length > 0 %}
          {% set appealReasonError = {
            text: appealReasonErr.text
          } %}
        {% else %}
          {% set appealReasonError = false %}
        {% endif %}

        {% if errorList.length > 0 %}
          {% if appealReasonErr.type === 'invalid' %}
            {% set otherReasonError = true %}
          {% else %}
            {% set otherReasonError = false %}
          {% endif %}
        {% endif %}

        {{ govukRadios({
          idPrefix: "choose-reason",
          name: "personalReason",
          errorMessage: personalReasonError,
          fieldset: {
            legend: {
              text: 'What is the personal circumstance?',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--xl'
            }
          },
          items: [
            {
              value: "financial",
              text: "Financial",
              checked: checkedFinancial
            },
            {
              value: "bereavement",
              text: "Bereavement",
              checked: checkedBereavement
            },
            {
              value: "mentalHealth",
              text: "Mental health",
              checked: checkedMentalHealth
            },
            {
              value: "housing",
              text: "Housing or accommodation",
              checked: checkedHousing
            },
            {
              value: "other",
              text: "I'm appealing for another personal reason",
              checked: otherReasonError
            }
          ]
        }) }}

        {{ govukInput({
          id: "editId",
          name: "editId",
          type: "hidden",
          value: id
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}