{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Promise to file
{% endblock %}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "company-number"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">You may not be eligible to appeal</h1>
      <p>Your filing due date is
        {{scenario.company.accountsDue}}. An extension must not extend the period for filing to more than twelve months after the end of the relevant accounting reference period.</p>
      <form>
        {{ govukButton({
text: "Continue",
href: "choose-reason"
}) }}
      </form>
    </div>
  </div>
{% endblock %}