{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers before submitting your appeal
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "add-appeal-reason"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if mode %}
        <h1 class="govuk-heading-xl">
          You already have an appeal in progress
        </h1>
      {% else %}
        <h1 class="govuk-heading-xl">
          Check your appeal
        </h1>
      {% endif %}
      <h2 class="govuk-heading-m">
        Penalty details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Company name"
            },
            value: {
              text: scenario.company.name
            }
          },
          {
            key: {
              text: "Company number"
            },
            value: {
              text: scenario.company.number
            }
          },
          {
            key: {
              text: "Type"
            },
            value: {
              text: "Late filing penalty (" + scenario.penalties[0].pen1 + ")"
            }
          },
          
      {
        key: {
          text: "Contact email"
        },
        value: {
          html: userEmail
  } }
   ] }) }}
      {% set showChangeLinks = true %}
      {% include "includes/cya/reason-loop-display.html" %}


      {% if mode %}
        <form action="" method="post">
          {{ govukButton({
            text: "Continue with this appeal"
          }) }}
          <p>
            <a href="choose-reason?restart=yes" class="govuk-link">Start a new appeal</a>
          </p>
          <p>
            <a href="sign-out" class="govuk-link">Sign out</a>
          </p>
        </form>
      {% else %}
        <h2 class="govuk-heading-m">Submit your appeal</h2>
        <p>
          By submitting this appeal you are confirming that, to the best of your knowledge, the details you are providing are true.
        </p>
        <form action="" method="post">
          {{ govukButton({
            text: "Confirm and submit appeal"
          }) }}

        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
