{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers before submitting your appeal
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "add-appeal-reason"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if mode %}
        <h1 class="govuk-heading-xl">
          You already have an appeal in progress
        </h1>
      {% else %}
        <h1 class="govuk-heading-xl">
          Check your appeal
        </h1>
      {% endif %}
      <h2 class="govuk-heading-m">
        Penalty details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Company name"
            },
            value: {
              text: scenario.company.name
            }
          },
          {
            key: {
              text: "Company number"
            },
            value: {
              text: scenario.company.number
            }
          },
          {
            key: {
              text: "Penalty amount"
            },
            value: {
              html: "&pound;" + scenario.penalties[0].value
      } }
      ,
      {
        key: {
          text: "Penalty date"
        },
        value: {
          html: scenario.penalties[0].filed
        }
      },
      {
        key: {
          text: "Contact email"
        },
        value: {
          html: userEmail
  } }
   ] }) }}
      {% set showChangeLinks = true %}
      {% include "includes/cya/reason-loop-display.html" %}

      <p class="govuk-!-margin-bottom-7 govuk-!-margin-top-7">
        <a href="/choose-reason" class="govuk-link">Add another reason</a>
      </p>
      {% if mode %}
        <form action="" method="post">
          {{ govukButton({
            text: "Continue with this appeal"
          }) }}
          <p>
            <a href="choose-reason?restart=yes" class="govuk-link">Start a new appeal</a>
          </p>
          <p>
            <a href="sign-out" class="govuk-link">Sign out</a>
          </p>
        </form>
      {% else %}
        <h2 class="govuk-heading-m">Submit your appeal</h2>
        <p>
          By submitting this appeal you are confirming that, to the best of your knowledge, the details you are providing are true.
        </p>
        <form action="" method="post">
          {{ govukButton({
            text: "Confirm and submit appeal"
          }) }}
          <p>
            <a href="/sign-out" class="govuk-link">Save and sign out</a>
          </p>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}