{% extends "layout.html" %}

{% block pageTitle %}
  Review uploaded documents
{% endblock %}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "check-your-answers"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="evidence-upload" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
              Do you want to change the selection of documents that have been uploaded for this appeal?
              </h1>
            </legend>
            <ul class="govuk-list govuk-list--bullet">
              <li>Insurance.doc</li>
              <li>hospital-note.pdf</li>
              </ul>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="documents-yes" name="documents" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="documents-yes">
                  Yes, I want to remove documents or upload new ones
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="documents-no" name="documents" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="documents-no">
                  No, I want to continue with only these documents
                </label>
              </div>
            </div>

          </fieldset>
        </div>


        {{ govukButton({ text: "Continue" }) }}

      </form>
    </div>
  </div>
</div>
{% endblock %}
