{% extends "layout.html" %}

{% block pageTitle %}
  Remove this reason for appeal
{% endblock %}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "check-your-answers"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">

        {% if errorList.length > 0 %}
          {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorList
              }) }}
        {% endif %}

        {% if errorList.length > 0 %}
          {% set Err = {
            text: Err.text
          } %}
        {% else %}
          {% set Err = false %}
        {% endif %}

        {% if errorList.length > 0 %}
          {% if Err.type === 'invalid' %}
            {% set otherReasonError = true %}
          {% else %}
            {% set otherReasonError = false %}
          {% endif %}
        {% endif %}



        {{ govukCheckboxes({
          idPrefix: "waste",
          name: "waste",
          fieldset: {
            legend: {
              text: "Which documents would you like to include in your appeal?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "doctor",
              text: "DoctorsNote.pdf"
            },
            {
              value: "insurance",
              text: "InsuranceForm.doc"
            },
            {
              divider: "or"
            },
            {
              value: "none",
              text: "None of the above",
              behaviour: "exclusive"
            }
          ]
        }) }}

        {{ govukInput({
          id: "id",
          name: "id",
          type: "hidden",
          value: id
        }) }}

        {{ govukButton({ text: "Continue" }) }}
        {{ govukButton({ text: "Continue without adding documents",

    classes: "govuk-button--secondary" }) }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
