{% extends "layout.html" %}

{% block pageTitle %}
  {% if penaltyErr or companyErr %}Error:
  {% endif %}
  Review your penalty details
{% endblock %}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "authenticate"
  }) }}
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">
            <span class="govuk-visually-hidden">Review the
            </span>Penalty details for
            <span class="govuk-!-font-weight-bold">{{ scenario.company.name }}</span>
          </h1>

          <h2 class="govuk-heading-m">
            Accounts period made up to
            {{ scenario.penalties[0].periodEnd }}
          </h2>

          {% if scenario.penalties[0].value === 300 %}

            {% set doubledHTML%}
            The penalty for accounts period made up to
            {{ scenario.penalties[0].periodEnd }}
            has been doubled.
            <a class="link" title="Why late filing penalties may be doubled" target="_blank" href="https://www.gov.uk/annual-accounts/penalties-for-late-filing">
              Find out why this penalty was doubled
            </a>.
            {% endset %}

            {{ govukInsetText({
                html: doubledHTML
              }) }}
          {% endif %}

          <table class="govuk-table">
            <caption class="govuk-table__caption">Penalty reference:
              {{ scenario.penalties[0].pen1 }}</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Fee</th>
                <th class="govuk-table__header" scope="col">Date</th>
                <th class="govuk-table__header" scope="col">Fee Amount</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Late filing penalty</td>
                <td class="govuk-table__cell">{{ scenario.penalties[0].filed }}</td>
                <td class="govuk-table__cell">£{{ scenario.penalties[0].value }}</td>
              </tr>
              <!-- {% if penalty.fees.solicitor %} {% for solicitor in penalty.fees.solicitor %} <tr class="govuk-table__row"> <td class="govuk-table__cell"> {{ solicitor.name }} </td> <td class="govuk-table__cell"> {{ solicitor.date }} </td> <td
              class="govuk-table__cell">£{{ solicitor.value }}</td> </tr> {% endfor %} {% endif %} {% if penalty.fees.court %} {% for court in penalty.fees.court %} <tr class="govuk-table__row"> <td class="govuk-table__cell"> {{ court.name }} </td> <td
              class="govuk-table__cell"> {{ court.date }} </td> <td class="govuk-table__cell">£{{ court.value }}</td> </tr> {% endfor %} {% endif %} -->

              <tr class="govuk-table__row">
                <td colspan="2" class="table-total govuk-table__cell">
                  Total:
                </td>
                <td class="govuk-table__cell">
                  £{{ scenario.penalties[0].value + scenario.penalties[0].totalFees }}
                </td>
              </tr>
            </tbody>
          </table>

          {{ govukButton({
            text: "Continue",
            href: "choose-reason"
          }) }}
        </div>
      </div>
    </main>
  </div>

{% endblock %}